<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz kontaktowy</title>
</head>
{% extends 'base.html' %}
<body>
{% block content %}
 <div class="container">
  <form action="action_page.php">

    <label for="fname">Imię</label>
    <input type="text" id="fname" name="firstname" placeholder="Imię..">

    <label for="lname">Nazwisko</label>
    <input type="text" id="lname" name="lastname" placeholder="Nazwisko..">

    <label for="subject">Temat</label>
    <textarea id="subject" name="subject" placeholder="Napisz coś.." style="height:200px"></textarea>

    <input type="submit" value="Wyślij">

  </form>
</div>
{% endblock content %}
</body>
</html>