<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Uzytkownika</title>
    {%  extends "../base.html"  %}
    {% load crispy_forms_tags %}
    {%  block content %}
        <div class="content-section">
            <div class="media-body">
                <h2 class="account-heading">{{  user.username }}</h2>
                <p class="text-secondary">{{  user.email }}</p>
            </div>
        </div>
    {%  endblock content %}
</head>
<body>

</body>
</html>